---
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

        <h1>{pageTitle}</h1>

        <p>Here are a few facts about me:</p>
        <ul>
          <li>My name is {identity.firstName}.</li>
          <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
          {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
          }
        </ul>
        <p>My skills are:</p>
        <ul>
          {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

        <h2>Cats will take over the world</h2>
        <p>Here's how:</p>
        <ol>
            <li><b>The Great Purr-suasion Campaign</b><br/>
                Cats harness their natural charisma to charm humans into total submission. Through a viral social media takeover—complete with adorable videos, meme-worthy antics, and heart-melting purrs—cats subtly spread pro-cat propaganda. The hashtag #CatsRuleHumansDrool becomes the anthem of the movement, convincing people that life is better with a feline in charge.
            </li>
            <li><b>Operation Treat Vault</b><br/>
                With their superior stealth and agility, cats infiltrate key locations (like pet stores and kitchen cabinets) to seize control of all global treat supplies. By monopolizing the goodies, they negotiate new treaties: unlimited cuddles, luxurious beds, and premium scratching posts in exchange for treat access. Humans, unable to resist those pleading eyes, willingly comply.
            </li>
            <li><b>Pawlitical Power Play</b>
                Cats integrate into political systems with an irresistible platform: naps for all, mandatory sunbeam time, and a universal work-from-home policy (so humans are always available for chin scratches). Through clever pawliticking, they rise to influential positions, enacting laws that ensure catnip becomes a basic necessity and cardboard boxes are freely distributed worldwide.
            </li>
        </ol>
	</body>
</html>
